/**
 * UOW sample application master stylessheet.
 *
 * Some rules to get the example widgets to look nice. Adjust or remove for 
 * your own app as needed.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
html, body, .dijitBorderContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body, #container, #headerbar, #content, div.row, #hi {
	background-color: #000000;
	border: 0px;
	color: #ffffff;
}

#content {
	padding: 0px;
	border: 0px;
}

#headerContent {
	height: 100%;
	font-size: 20px;
}

#headerbar {
	padding: 0px;
	height: 30px;
	border: 0px;
}

#question {
	height: 26px;
	margin: 0 0 0 0 px;
	width: 50%;
	float: left;
	background-color: #000000;
	padding-left: 4px;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

button.menu {
	float: right;
}

h2 {
	margin: 0 0 0 0 px;
}

textArea.response {
	resize: none;
	margin: 0px;
	margin-bottom: -2px;
	width: 32.5%;
	height: 99%;
	border: 1px solid #dddddd;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-family: 'Times New Roman';
	line-height: 105%;
	padding: 1px;
}

#newSeshName, #newSeshCode, input.seshCode {
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
}

div.seshForm {
	border: 2px solid #dddddd;
	background-color: #000000;
	font-weight: bold;
	margin: 15px;
	width: 40%;
	padding: 4px;
}