/**
 * UOW sample application master stylessheet.
 *
 * Some rules to get the example widgets to look nice. Adjust or remove for 
 * your own app as needed.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
html, body, .dijitBorderContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content {
	padding: 0px;
}

#headerContent {
	height: 100%;
	font-size: 20px;
}

#headerbar {
	padding: 0px;
	height: 30px;
}

#question {
	height: 26px;
	margin: 0 0 0 0 px;
	width: 70%;
	float: left;
	background-color: #d6e5f4;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

button.menu {
}

h2 {
	margin: 0 0 0 0 px;
}

div.row {
	background-color: #d6e5f4;
}

textArea.response {
	resize: none;
	margin: 0px;
	margin-bottom: -2px;
	width: 32.5%;
	height: 99%;
	background-color: #bbffbb;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Sans-serif;
	line-height: 105%;
	padding: 1px;
}

#newSeshName, #newSeshCode, input.seshCode {
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
}

div.seshForm {
	border: 1px solid black;
	background-color: #d6e5f4;
	width: 40%;
	padding: 4px;
}